<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method ="POST"> 

        <label> Model </label>
        <input name ="model" type="text" value="ex: Wave" >
        <br>
        <label> Daily Fee (VND) </label>
        <input name = "dailyfee" type="text" value="ex: 50000" >
        <br>
        <label> Image </label>
        <input name ="image" type="text" value="ex: https://xeharleyhanoi.com" >
        <br>
        <label> Year </label>
        <input name ="year" type="text" value="ex: 2019" >
        <br>
        <button> Submit </button>

    </form>
</body> 
</html>