<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Your BMI is : {{BMI}}</h3>
    {% if BMI < 16 %}
    <p>You are Severely underweight ! </p>
    {%elif 16 <= BMI < 18.5 %}
    <p>You are Underweight ! </P>
    {%elif 18.5 <= BMI < 25 %}
    <p>You are Normal ! </p>
    {%elif 25 <= BMI < 30 %}
    <p>You are Overweight ! </p>
    {%elif BMI > 30%}
    <p>You are Obese !</p>
    {% endif %}

</body>
</html>