<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
    <h1>My profile</h1>
    <h3>Name: Nguyễn Đức Trường</h3>
    <h3>Work: unknown</h3>
    <h3>School: Military Technical Academy</h3>
    <h3>Hobbies: GG = Game + Girl</h3>
    <h3>Cat'name: Leo</h3>
    <h3>Crush: unknown</h3>
    <hr>
    
</body>
</html>